<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXYp0iHZfm0o9ninJ9cFAohTZaDQjTVEc</string>
	<key>GCM_SENDER_ID</key>
	<string>396554411393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berankova.pavla.JobSearchLog</string>
	<key>PROJECT_ID</key>
	<string>jobsearchlog-91803</string>
	<key>STORAGE_BUCKET</key>
	<string>jobsearchlog-91803.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396554411393:ios:09d1f013a165cf2c559c80</string>
</dict>
</plist>